.idea/
/CSharp/.idea/
/C/.idea/
/Build/Lib/ConsoleIO.obh
/Build/Lib/FileIO.obh
/Build/Lib/Math.obh
/Build/Lib/Utilities.obh
/CSharp/.vs/
/CSharp/cpScriptTest.Net/obj/
/CSharp/libCpScript.Net.ObjectBasic/obj/
/CSharp/libCpScript.Net.StdLib/obj/libCpScript.Net.StdLib/debug
/CSharp/libCpScript.Net.StdLib/obj/libCpScript.Net.StdLib/libCpScript.Net.StdLib.csproj.nuget.dgspec.json
/CSharp/libCpScript.Net.StdLib/obj/libCpScript.Net.StdLib/libCpScript.Net.StdLib.csproj.nuget.g.props
/CSharp/libCpScript.Net.StdLib/obj/libCpScript.Net.StdLib/libCpScript.Net.StdLib.csproj.nuget.g.targets
/CSharp/libCpScript.Net.StdLib/obj/libCpScript.Net.StdLib/project.assets.json
/CSharp/libCpScript.Net.StdLib/obj/libCpScript.Net.StdLib/project.nuget.cache
/CSharp/libCpScript.Net.Asm/obj/libCpScript.Net.Asm/debug
/CSharp/libCpScript.Net.ObjectBasic/obj/libCpScript.Net.ObjectBasic/libCpScript.Net.ObjectBasic.csproj.nuget.dgspec.json
/CSharp/libCpScript.Net.ObjectBasic/obj/libCpScript.Net.ObjectBasic/libCpScript.Net.ObjectBasic.csproj.nuget.g.props
/CSharp/libCpScript.Net.ObjectBasic/obj/libCpScript.Net.ObjectBasic/libCpScript.Net.ObjectBasic.csproj.nuget.g.targets
/CSharp/libCpScript.Net.ObjectBasic/obj/libCpScript.Net.ObjectBasic/project.assets.json
/CSharp/libCpScript.Net.ObjectBasic/obj/libCpScript.Net.ObjectBasic/project.nuget.cache
/CSharp/libCpScript.Net.Asm/obj/libCpScript.Net.Asm/libCpScript.Net.Asm.csproj.nuget.dgspec.json
/CSharp/libCpScript.Net.Asm/obj/libCpScript.Net.Asm/libCpScript.Net.Asm.csproj.nuget.g.props
/CSharp/libCpScript.Net.Asm/obj/libCpScript.Net.Asm/libCpScript.Net.Asm.csproj.nuget.g.targets
/CSharp/libCpScript.Net.Asm/obj/libCpScript.Net.Asm/project.assets.json
/CSharp/libCpScript.Net.Asm/obj/libCpScript.Net.Asm/project.nuget.cache
/CSharp/cpScriptTest.Net/obj/cpScriptTest.Net/cpScriptTest.Net.csproj.nuget.dgspec.json
/CSharp/cpScriptTest.Net/obj/cpScriptTest.Net/cpScriptTest.Net.csproj.nuget.g.props
/CSharp/cpScriptTest.Net/obj/cpScriptTest.Net/cpScriptTest.Net.csproj.nuget.g.targets
/CSharp/cpScriptTest.Net/obj/cpScriptTest.Net/project.assets.json
/CSharp/cpScriptTest.Net/obj/cpScriptTest.Net/project.nuget.cache
/CSharp/Backup/cpScript.sln