/Build/Lib/ConsoleIO.obh
/Build/Lib/FileIO.obh
/Build/Lib/Math.obh
/Build/Lib/Utilities.obh
/Build/*.0
/C/obj/libCpScript.Asm/shared/*.o
/C/obj/libCpScript.Asm/static/*.o
/C/obj/libCpScript.ObjectBasic/shared/*.o
/C/obj/libCpScript.ObjectBasic/static/*.o
/C/obj/libCpStdLib/shared/*.o
/C/obj/libCpStdLib/static/*.o
/NewRuntimeProto/.vs/NewRuntimeProto/v14/.suo
/NewRuntimeProto/*.suo
/Build/libCpScript.Asm.a
/Build/libCpScript.ObjectBasic.a
/Build/libCpStdLib.a
/NewRuntimeProto/NewRuntimeProto/bin/Debug/*.pdb
/NewRuntimeProto/NewRuntimeProto/obj/Debug/*.pdb
/NewRuntimeProto/NewRuntimeProto/obj/Debug
/NewRuntimeProto/NewRuntimeProto/bin/Debug/NewRuntimeProto.vshost.exe.config
/NewRuntimeProto/NewRuntimeProto/bin/Debug/NewRuntimeProto.vshost.exe
/NewRuntimeProto/NewRuntimeProto/bin/Debug/NewRuntimeProto.exe.config
/NewRuntimeProto/NewRuntimeProto/bin/Debug/NewRuntimeProto.exe
/NewRuntimeProto/.vs/NewRuntimeProto/v15/.suo
